{% extends 'base.html' %}

{% block test1 %}

<body>
	<ul>
		<li><a href="{% url 'news:newslist' %}">正常测试-新闻列表</a></li>
		<li><a href="{% url 'news:newsid' newsid='XXX' %}">url中指定参数-新闻ID</a></li>
		<li><a href="{% url 'news:search' %}?keys=XXX">url非指定参数-搜索新闻</a></li>
		<li><a href="{% url 'news:tpmif' %}">DTL中if测试</a></li>
		<li><a href="{% url 'news:tpmfor' %}">DTL中for测试</a></li>
		<li><a href="{% url 'news:addview' %}">add拼接测试</a></li>
		<li><a href="{% url 'news:cut' %}">cut测试</a></li>
		<li><a href="{% url 'news:date' %}">DTL中date过滤器测试</a></li>
	</ul>
	<!--第一种加载静态文件的方法,通过url调用-->
	<img src="/static/news/first.jpg">
	<!--第二种加载静态文件的方法,通过url调用-->
	<img src="{% static 'news/sec.jpg' %}">
</body>
{% endblock %}